body {
    min-height: 100vh;
}

.wrapper {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 250px;
    border: 3px dashed blue;
    height: 100vh;
    overflow-y: auto;
}

.main-content {
    flex-grow: 4;
    overflow-y: auto;
}

.logo-company {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-start;
    padding: 10px 0;
    align-items: flex-start;
}

li {
    display: flex;
}

.nav-list a {
    width: 100%;
    cursor: pointer;
}

.nav-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    row-gap: 10px;
    height: 400px;
    padding-top: 10px;
    border: 3px dashed pink;
}

.container-header {
    border: 2px dashed blue;
    display: flex;
}

.container-main {
    border: 2px dashed orange;
    display: flex;
}

.container-footer {
    border: 2px dashed orange;
    display: flex;
}

.button-primary, .button-secondary {
    width: 100%;
}

.wrapper-nav {
    display: flex;
}

.nav-list img {
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list {
    display: flex;
    height: 100vh;
    text-align: justify;
}

.icon-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    text-align: justify;
}

.icon-list:hover {
    background-color: #e3e3e3;
    cursor: pointer;
}

.li-button-primary, .li-button-secondary {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}