body {
    min-height: 100vh;
}

.wrapper {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 250px;
    height: 100vh;
    overflow-y: auto;
    justify-content: space-between;
}

.upper-nav {
    display: flex;
    flex-direction: column;
}

.main-content {
    flex-grow: 4;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-company {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-start;
    padding: 10px 0;
    align-items: flex-start;
}

li {
    display: flex;
}

.nav-list a {
    width: 100%;
    cursor: pointer;
}

.nav-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    row-gap: 10px;
    padding-top: 10px;
    text-align: justify;
}

.button-primary, .button-secondary {
    width: 100%;
}

.wrapper-nav {
    display: flex;
}

.nav-list img {
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    text-align: justify;
}

.icon-list:hover {
    background-color: #e3e3e3;
    cursor: pointer;
}

.nav-buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: 10px;
}

header {
    background-image: url("../assets/placeholder-image.svg");
    min-height: 40vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.article-content-upper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 40px;
    padding: 20px;
    gap: 10px;
}

.article-content-lower {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 40px;
    padding: 20px;
    gap: 10px;
}

footer {
    background-color: #383838;
    width: 100%;
    height: 5vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 7px;
    display: flex;
}

.footer-text {
    color: #e3e3e3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.article-text {
    display: flex;
    flex-direction: column;
    width: 350px;
    row-gap: 10px;
}

.user-image {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 20px;
}

.article-price-icon {
    display: flex;
    flex-direction: row;
    gap: 250px;
}

